@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Yanone+Kaffeesatz:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Urbanist:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Tangerine:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Meie+Script&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap);




html body {
  background-color: #8CBB8E;
   
    
}
.form-control-reflection {
  height: 70px;
  width: 400px;
  outline: none;
  border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color:#dae2e2;
  border-radius: 10px;
  text-indent:10px;
  margin-top: 5px;
  
}

.form-control-reflection-edit {
  height: 300px;
  width: 400px;
  outline: none;
  border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color:#dae2e2;
  border-radius: 10px;
  text-indent:10px;
  margin-top: 5px;
  padding-left: 10px;
} 

.create_round {
  margin-left: 20px;
}

.form-control-score {
  height: 40px;
  width: 80px;
  outline: none;
  border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color: #dae2e2;
  border-radius: 10px;
  text-indent:10px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.form-control-date {
  height: 40px;
  width: 150px;
  outline: none;
  border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color:#dae2e2;
  text-indent: 5px;
  margin-bottom: 5px;
  

}

.form-control-course {

  height: 40px;
  width: 150px;
  outline: none;
  border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color:#dae2e2;
  /* margin-top: 5px; */
  text-indent: 5px;
  margin-bottom: 5px;
  

}

.round-h1{
  display: flex;
  justify-content: center;
  /* font-family: 'Fugaz One', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 20px;
  padding-bottom: 20px;
  
}

.round-h1-create-edit-header {
  /* font-family: 'Fugaz One', cursive; */
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -15px;

}

h1 {
  /* font-family: 'Secular One', sans-serif;
  font-family: 'Tangerine', cursive; */
  /* font-family: 'Meie Script', cursive; */
  font-family: 'Dancing Script', cursive;
}

.round-form {
  border: oldlace;
  border-radius: 10px;
  width: 400px;
  height: 350px;
  
}

.round-card-width{
  margin-top: 10px !important;
}

.round-cards {
	  margin: auto;
    margin: .5em;
    max-width: 800px;
    min-height: 200px;
    width: fit-content;
	  background-image: linear-gradient( #BFD9C0,#8CBB8E,
	  #BFD9C0);
    border: white;
    border-radius: 10px;
    border-style: solid;
    text-align:left;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0px 5px 8px black;
   
       
}

.round-cards-container {
  display: flex;
  border-radius: 1px;
  margin-top: 50px;
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.round-form-container {
  display: flex;
  justify-content: center;
  /* padding-top: 50px; */
}
.new-round-button-container {
  display: flex;
  justify-content: center;
 
  
}
.new-round-button {
  width: 200px;
  height: 40px;
  font-size: 25px;
  background-image:url(https://images.vexels.com/media/users/3/214738/isolated/lists/2f51c418f0fd9a580efe692401c3c25a-golf-ball-illustration.png);
  background-size: 110px !important;
  background-position:center;
  background: cover;
  border-radius: 500px !important;
  width: 120px;
  height: 120px;
  background-size: auto;
  transition-duration: 10ms;
  font-family: 'Josefin Sans', sans-serif;

  


}



button {

  width: 100px;
  height: 40px;
  border-style: solid;
  color: black;
  background-color:#dae2e2;
  border-width: 1px;
  font-size: 5px;
  transition-duration: 0.4s !important;  
  border-radius: 5px !important;
  border-width: 1px;
  
  
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(192, 192, 192); */
}
.button_contain {
 
  /* margin-left: 400px; */
  
  margin-top: 10px;
  margin-bottom: 20px;
}

.button_contain_cancel {
  /* margin-left: 400px; */
}

.new-round-button {
  transition-duration: 0.4s;
  box-shadow: 5px 10px;
  box-shadow: 10px 10px 10px black;
  
}

/* .new-round-button:hover {
  background-color: #4CAF50;
  color:#b576b3;
  
} */

.get-user {

  
  font-family: 'Fugaz One', cursive;
  font-size: small;
  
}



button.accordion-button.collapsed {
  background-color: #dae2e2;
  border-collapse: none;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: #BB8BB9 !important;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.round-buttons {
  padding-top: 20px;
 
}

.round_edit {
  background-color:#dae2e2 !important;
  border-style: solid !important;
  border-color: black !important;
  color: black !important;
  
  

}

.round_edit.btn.btn-primary {
 margin: 5px;
 
}

.round_delete.btn.btn-primary {
  margin-right: 5px !important;
  
 }

.round_delete {
  background-color:#dae2e2 !important;
  border-style: solid !important;
  border-color: black !important;
  color: black !important;

}

.editform {
  display: flex;
  justify-content: center;
  
  
}

.edittext {
  /* width: 500px; */
  
  font-family: 'Secular One', sans-serif;
    font-family: 'Urbanist', sans-serif;
  
}

.edit-contain {
  display: flex;
  
}
.edit-contain-text {
  display: flex;
}

.edittext-background {
  background-color: #dae2e2;
  border-style: solid;
  border-color: white ;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-right: 20px;
  margin-top: 50px;
  border-radius: 10px;
  border-width: 5px;
  width: 300px;
  margin-left: 30px;
  
}

.primaryModal {
  background-color: black;
}