@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Yanone+Kaffeesatz:wght@300&display=swap);

.form-control-reflection {
  height: 100px;
  width: 300px;
  outline: none;
  border-color: #BB8BB9;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color:white;
  border-radius: 10px;
  text-indent:10px;
  margin-top: 5px;
}

.form-control-score {
  height: 25px;
  width: 300px;
  outline: none;
  border-color: #BB8BB9;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  text-indent:10px;
  margin-top: 5px;

}

.form-control-date {
  height: 25px;
  width: 305px;
  outline: none;
  border-color: #BB8BB9;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  text-indent: 5px;
  margin-top: 0px;

}

.form-control-course {

  height: 25px;
  width: 305px;
  outline: none;
  border-color: #BB8BB9;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  text-indent: 5px;
  margin-top: 0px;

}

.round-header {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: 'Fugaz One', cursive;
  /* font-family: 'Righteous', cursive; */
  -webkit-text-stroke-width: .01px;
  -webkit-text-stroke-color:white;
  
}

.round-form {
  border: oldlace;
  border-radius: 10px;
  background-color:#BFD9C0;
  width: 400px;
  height: 350px;
  
}

.round-cards {
	  margin: auto;
    margin: .5em;
    max-width: 200px;
    /* max-width: 500px; */
    min-height: 300px;
	  background-image: linear-gradient( #BB8BB9
	  ,#BFD9C0);
    border: white;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.round-cards-container {
  display: flex;
  border-radius: 1px;
  margin-top: 50px;
  min-height: 500px;
  flex-wrap: wrap;
  margin-left: 50px;
  
}

.round-form-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.new-round-button-container {
  display: flex;
  justify-content: center;
  
}
.new-round-button {
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-image:url(https://images.vexels.com/media/users/3/214738/isolated/lists/2f51c418f0fd9a580efe692401c3c25a-golf-ball-illustration.png);
  background-size:contain;
  background-position:center;
  background: cover;
  border-radius: 500px;
  width: 150px;
  height: 150px;
  background-size: auto;
  transition-duration: 10ms;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#BB8BB9;
  

}
.new-round-button {
  transition-duration: 0.4s;
  box-shadow: 5px 10px;
}

.new-round-button:hover {
  background-color: #4CAF50;
  color:#BB8BB9;
  
}


/* #BB8BB9 */