@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Yanone+Kaffeesatz:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Urbanist:wght@100&display=swap);

img {
    width: 195px;
}
.course {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 70%;
    margin: .5em;
	max-width: 350px;
	background-image: linear-gradient( #BFD9C0,#8CBB8E,
    #BFD9C0);
    border: white;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    height: 400px;
    
    
}

.container-cards {
    display: flex;
    border-radius: 1px;
    margin-top: 20px;
    min-height: 500px;
    flex-wrap: wrap;
    /* margin-left: 90px */
    justify-content: center;

}

.course-header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: 'Fugaz One', cursive;
    margin-top: 20px;
}
    
    
    


.course_name {
    margin-top: 50px;
}

h4 {
    padding-top: 20px;
}

h6 {
    padding-top: 10px;
}
.course_link {
    color:black;
}
.course_link:hover {
    color:#BB8BB9;
}

.new-course-button-container {
    display: flex;
    justify-content: center;
}

.new-course-button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    background-image:url(https://images.vexels.com/media/users/3/214738/isolated/lists/2f51c418f0fd9a580efe692401c3c25a-golf-ball-illustration.png);
    background-size: 110px !important;
    background-position:center;
    background: cover;
    border-radius: 500px !important;
    width: 120px;
    height: 120px;
    background-size: auto;
    transition-duration: 10ms;
}

.new-course-button {
    transition-duration: 0.4s;
    box-shadow: 5px 10px;
  }