@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap);

.footerimg {
    width: 2000px;
    margin: 0;
    position: absolute;
   
}




.footer-header {
    /* position: relative;
    top: 40px; */
    color: black;
    font-family: 'Dancing Script', cursive;
    
    font-size:large ;
    
    
   

}
.footer-info {
    font-family: 'Josefin Sans', sans-serif;
  
  
}

.footer-info-jake {
   
  
  
   
}


.footer-container{
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 40px;

    
   
    
   
   
   
    

}

.jake {
    border: white;
    border-radius: 100px;
    border-style: solid;
    width: 65px;
    border-width: 1px;
    border-color: white;
}

.jakemove {





}