@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Urbanist:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Urbanist:wght@100;300&display=swap);

body {
    padding:0;
    margin: 0;
   
    
    
}

html {
  background-image: white;
  
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin-bottom: -10px !important;
  }

  li {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  p {
    font-family: 'Secular One', sans-serif;
    font-family: 'Urbanist', sans-serif;
  }

  h4 {
      letter-spacing: 1px;
  }
 
.modal-body {
  background-color:#BB8BB9;
  background-image: linear-gradient(#BB8BB9,#b768b4);
 
}

html, body {
  overscroll-behavior: none;
}

button:hover {
  background-color:#cd9ccb !important; 
  transition-duration: 0.4s !important;
}