@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&family=Yanone+Kaffeesatz:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Secular+One&family=Urbanist:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap);

.dialog {
    min-width: 15rem;
    min-height: 5rem;
  }
  
  .container--login {
    margin-top: -50px;
   
  }
  
  
  .register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
  
  }

  .not-signed-in {
    padding-right:15px;
  }


 .login-fieldset {
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  border-color: black;
  font-family: 'Secular One', sans-serif;
  
 }

 .form-control-register {
  border-width: 1px;
  border-radius: 10px;
  width: 500px;
  height: 40px;
  border-color: black;
  text-indent: 10px;
  
  
 }
 .form-control-register-second {

  padding-top: 25px;
 
  
 }
 .form-control-register-third {

  padding-top: 25px;
  
  
  
 }
 .form--login-register {
   margin-top: 300px;
 }
 



 .logo_login {
  width: 700px;
  margin-top: 300px;
  margin-bottom: -30px;
  padding-left: 10px;
 
 }

 .logo_login_contain {
   display: flex;
   justify-content: center;
 }




.sign-in-button {
  width: 150px;
  height: 40px;
  border-style: solid;
  color:white;
  background-color:#BB8BB9;
  border-width: 1px;
  font-size: 15px;
  transition-duration: 0.4s;  
  border-radius: 10px;
  border-width: 1px;
  font-family: 'Secular One', sans-serif;
  
}

.login_button_contatiner {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 170px;
}

.button-reg {
  margin-top: 30px;
 
  margin-right: 178px;
  
  
}

.sign-in-button{
 margin-right: 10px;
 
  
}

.sign-in-button-contain-cancel {

}

 .login_contain {
   display: flex;
   justify-content: center;
   
 }

 .form-control-login {
  height: 40px;
  width: 325px;
  outline: none;
  border-radius: 10px;
  border-width: 0;
  

  /* border-color: white;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  background-color: #dae2e2;
  border-radius: 10px; */
  text-indent:10px;
  margin-top: 30px;
 }

