

.dialog {
    min-width: 15rem;
    min-height: 5rem;
  }
  
  .container--login {
    margin-top: -50px;
   
  }
  
  
  .register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

  .not-signed-in {
    padding-right:15px;
  }


 fieldset {
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  
 }




.sign-in-button {
  width: 200px;
  height: 40px;
  border-style: solid;
  color: black;
  background-color:#BB8BB9;
  border-width: 1px;
  font-size: 15px;
  transition-duration: 0.4s;  
  border-radius: 10px;
  border-width: 1px;
  
}

.login_button_contatiner {
  display: flex;
}


 .login {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }